@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* css reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
:root{
  --primary-color:#fff;
  --secondary-color:#FCF8F3;
  --accent-color:#333333;
  --btn-primary-color:#B88E2F;

  --ff-primary:"Poppins", serif;
  --ff-secondary:"Montserrat", serif;

  --fw-400:400;
  --fw-600:600;
  --fw-800:800;
  --fw-1000:900;
}

img,svg {
  display: block;
  max-width: 100%;
  height: 100%;
}

ol, ul {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
html{
  height: 100%;
}

body{
  height: 100%;
  line-height: 1.5em;
  scroll-behavior: smooth;
  font-family: var(--ff-primary);
}

/* desktop styles navbar */


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  height: 75px;
}
nav .left{
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.left span{
  font-weight: 700;
}
nav .center ul{
  display: flex;
  gap: 3rem;
}
nav .right{
  margin-right: 1rem;  
  display: flex;
  gap: 2rem;
}
nav .ham{
  display: none;
}

/* mobile styles navbar */

@media screen and (max-width:375px) {
  nav .center,nav .right{
    display: none;
  }   
  nav .ham{
    display: flex;
    align-items: center;
  }
  nav .ham i{
    font-size: x-large;
  }
}
/* hero desktop styles */

.hero{
  height: calc(100% - 75px);
  background: #ddd url("../asessts/hero.png") center/cover;
}
.hero .container{
  height: 100%;
  padding: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.hero .container .right{
  --background-color:#FFF3E3;
  width: 50%;
  padding: 2em;
  background-color: var(--background-color);
  color: var(--accent-color);
}
.hero .container .right p:nth-of-type(1){
  font-weight: var(--fw-600);
  letter-spacing: 0.25em;
  margin-bottom: 1em;
}
.hero .container .right h1{
  font-weight: var(--fw-800);
  font-size: 3em;
  line-height: 1.2em;
  color:var(--btn-primary-color);
  margin-bottom: 0.5em;
}
.hero .container .right p:nth-of-type(2){
  line-height: 1.2em;
  margin-bottom: 1em;
}
.hero .container .right button{
  background-color: var(--btn-primary-color);
  border: none;
  padding-block: 1em;
  padding-inline: 3em;
  color: #fff;
  font-weight: var(--fw-600);
}
/* hero mobile styles */

@media screen and (max-width:375px) {
  .hero{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom left 10%;
  }
  .hero .container .right{
    width: 100%;
  }
  .hero .container .right h1{
    font-size: x-large;
  }
  .hero .container .right p:nth-of-type(2){
    line-height: 1.3em;
  }
}
/* featured desktop styles */
.featured{
  /* margin-top: 3em; */
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.featured h2{
  font-weight: var(--fw-800);
  font-size: x-large;
  margin-top: 3em;
}
.featured p{
  opacity: 0.7;
  margin-top: 1em;
}
.featured .featured-cards{
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}
.featured-cards .card{
  height: 40%;
}
.featured-cards .card img{
  border-radius: 8px;
}
.featured-cards .card p{
  margin-top: 1em;
  font-weight: var(--fw-600);
}
/* featured section mobile style */
@media  (max-width:375px) {
  .featured .featured-cards{
    flex-direction: column;
    padding: 2em;
    gap: 3em;
  }
  .featured .featured-cards .card{
    height: 50%;
  }
}

/* Our products section desktop styles */

.products-section{
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.products-section h2{
  font-weight: var(--fw-800);
  font-size: x-large;
  text-align: center;
  margin-top: 2em;
}
.products-section .products-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2em;
  padding: 1em;
  margin-top: 1em;
}
.products-grid .product-card img{
  height: 80%;
}
.products-grid .product-card .card-content{
  height: 20%;
}
.card-content h3{
  font-weight: var(--fw-600);
}
.card-content span{
  opacity: 0.7;
  font-size: smaller;
}
.card-content p{
  display: flex;
  gap: 2em;
}
.card-content p span:first-child{
  font-weight: var(--fw-600);
  opacity: 1;
}
.card-content p span:last-child{
  text-decoration: line-through;
}

/* Our products section mobile styles */

@media (max-width:375px) {
  .products-section .products-grid{
    grid-template-columns: 1fr;
  }
}